<%- include('partials/head', { title }) %>
<%- include('partials/header') %>

<main class="container py-4">
  <h2 class="mb-4 border-bottom border-3 border-tertiary pb-2" style="border-color:#ffcf40 !important;">Our Blog</h2>

  <article class="mb-4 card">
    <img src="/assets/images/blog1.jpg" class="card-img-top" alt="Blog Post One" />
    <div class="card-body">
      <h3>Blog Post One</h3>
      <p>This is a summary of the first blog post...</p>
      <a href="#" class="btn btn-tertiary">Read more</a>
    </div>
  </article>

  <article class="mb-4 card">
    <img src="/assets/images/blog1.jpg" class="card-img-top" alt="Blog Post Two" />
    <div class="card-body">
      <h3>Blog Post Two</h3>
      <p>This is a summary of the second blog post...</p>
      <a href="#" class="btn btn-tertiary">Read more</a>
    </div>
  </article>
</main>

<%- include('partials/footer') %>
